.row
  .col-xs-8.col-xs-offset-2.search
    %h2= t('main_baseline')
    .form-group{style: "display: flex"}
      %Input.form-control#text{placeholder: t("search_placeholder")}
      = button_to t("search"), listings_path, class: "btn btn-success", method: :get
      



