%h1 ListingPage

.listing
  .name
    %h3 Ordinateur Toshiba
  .row
    .col-xs-2
      2016-10-16 20:41
    .category.col-xs-8
      Electro
  .row
    .col-xs-2
      blablabla
    .col-xs-4
      %p Nam sole orto magnitude angusti gurgitis sed profundi a transitu arcebantur et dum
  .row
    .col-xs-4
      %img{src: "/images/img_toshiba.jpg"}
